<!DOCTYPE html>
<html>
    <style>
        p{
            padding-top: 50px;
            margin: 50px;
            font-size: 80px;
            font-weight: bold;
            text-align: center;
            color: white
        }
        button{
            width: 500px;
            height: 100px;
            font-size: x-large;
            border-radius: 10px;
            cursor: pointer;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(163,35,185,1) 0%, rgba(235,31,178,1) 0%, rgba(136,11,101,1) 100%);    color: white;
            border: 0;
            color: white;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        button:hover{
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(163,35,185,1) 0%, rgba(235,31,178,1) 0%, rgba(240,240,240,1) 100%);
            color: black
        }
        body{
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,235,1) 0%, rgba(0,212,255,1) 100%);

        }

    </style>
    <head>
        <title>Login necessário | Portal DyslexiAssist</title>
        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    </head>
    <body>
        <p>Ops... Para ter acesso a essa página, é necessário realizar login!</p>
        <form action="noauth">
            <button type="submit">Página de Login</button>
        </form>
    </body>
</html>